/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue Cyr Roman", sans-serif;
  color: #101828;
  background-color: #FFFFFF;
}

img::-moz-selection {
  background: #DDD7C0;
  color: #212529;
}

img::selection {
  background: #DDD7C0;
  color: #212529;
}

em {
  font-style: normal;
  font-family: "Helvetica Neue Cyr Roman", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}
em::-moz-selection {
  background: #DDD7C0;
  color: #212529;
}
em::selection {
  background: #DDD7C0;
  color: #212529;
}

h1 {
  font-family: "Helvetica Neue Cyr Roman", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 120%;
  color: #101828;
}
h1::-moz-selection {
  background: #DDD7C0;
  color: #212529;
}
h1::selection {
  background: #DDD7C0;
  color: #212529;
}

h2 {
  font-family: "Helvetica Neue Cyr Roman", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 66px;
  color: #101828;
}
h2::-moz-selection {
  background: #DDD7C0;
  color: #212529;
}
h2::selection {
  background: #DDD7C0;
  color: #212529;
}

h3 {
  font-family: "Helvetica Neue Cyr Roman", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
}
h3::-moz-selection {
  background: #DDD7C0;
  color: #212529;
}
h3::selection {
  background: #DDD7C0;
  color: #212529;
}

strong {
  display: block;
  font-family: "Helvetica Neue Cyr Roman", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
}
strong::-moz-selection {
  background: #DDD7C0;
  color: #212529;
}
strong::selection {
  background: #DDD7C0;
  color: #212529;
}

.main-text {
  font-family: "Helvetica Neue Cyr Roman", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #212529;
}
.main-text::-moz-selection {
  background: #DDD7C0;
  color: #212529;
}
.main-text::selection {
  background: #DDD7C0;
  color: #212529;
}

.btn {
  position: relative;
  font-family: "Helvetica Neue Cyr Roman", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #212529;
  transition: color 0.3s ease-in;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: #212529;
  transition: transform 0.3s ease-in, background-color 0.3s ease-in;
  transform-origin: right bottom;
}
.btn:hover {
  color: #DDD7C0;
}
.btn:hover::before {
  background-color: #DDD7C0;
}
.btn::-moz-selection {
  background: #DDD7C0;
  color: #212529;
}
.btn::selection {
  background: #DDD7C0;
  color: #212529;
}

.button {
  padding: 12px 20px;
  background-color: #212529;
  color: #fff;
  transition: all 0.2s ease-in;
}
.button:hover {
  background-color: #DDD7C0;
  color: #212529;
}
.button:active {
  background-color: #CBC6B2;
}
.button:disabled {
  background-color: rgba(33, 37, 41, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.link {
  position: relative;
  font-family: "Helvetica Neue Cyr Roman", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: #212529;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: right bottom;
}
.link:hover::before {
  transform: scaleX(1);
  transform-origin: left bottom;
}

.input {
  padding-bottom: 12.5px;
  border-bottom: 1px solid #212529;
}

.container {
  max-width: 1436px;
  padding: 0 30px;
  margin: 0 auto;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
}

.grid-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1200px) {
  h3 {
    font-size: 24px;
    line-height: 1.375;
  }
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 28px;
    line-height: 1.392;
  }
}
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 800px) {
  em {
    font-size: 16px;
  }
}
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    max-width: 1408px;
    padding: 0 16px;
    margin: 0 auto;
  }
  h1 {
    font-size: 32px;
    line-height: 38.4px;
  }
  em {
    font-style: 16px;
    line-height: 22.4px;
  }
  strong {
    font-size: 24px;
    line-height: 33px;
  }
}
.header {
  position: fixed;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #212529;
  font-family: "Helvetica Neue Cyr Roman", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.75) 75%, rgba(0, 212, 255, 0) 100%);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 9999;
}

.header__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.header__logo-link {
  grid-column: 1/3;
}

.header__nav-wrp {
  grid-column-start: 9;
  grid-column-end: 11;
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header__tel {
  grid-column: 11/13;
  justify-self: end;
  align-self: start;
}

.hero {
  padding-top: 160px;
  padding-bottom: 60px;
}

.hero__title {
  grid-column: 1/9;
  text-transform: uppercase;
}

.hero__btn {
  grid-column: 10/13;
  justify-self: end;
  align-self: end;
}

.hero__text {
  grid-column: 1/5;
}

.hero__img-1 {
  grid-column: 7/13;
  grid-row: 2 span;
}
.hero__img-1 img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__img-2 {
  grid-column: 1/4;
  grid-row: 3;
  align-self: end;
}

.about {
  padding: 60px 0 60px;
}

.about__wrapper {
  row-gap: 44px;
}

.about__title {
  grid-column: 1/6;
}
.about__title--mobile {
  display: none;
}

.about__text-box {
  grid-column: 7/11;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 22px;
}

.about__facts-box {
  grid-column: 7/11;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 146px;
}

.how {
  padding: 60px 0 60px;
}

.how__wrapper {
  row-gap: 44px;
}

.how__title {
  grid-column: 1/6;
}

.how__descr {
  padding-top: 18px;
  grid-column: 7/10;
}

.how__list {
  grid-row: 2;
  grid-column: 7/13;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.how__item {
  padding-top: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid #000;
}

.how__step-title {
  grid-column: 1/3;
}

.how__step-descr {
  grid-column: 3/5;
}

.projects {
  padding-top: 60px;
  padding-bottom: 60px;
}

.projects__title {
  margin-bottom: 32px;
}

.projects__list {
  row-gap: 20px;
}

.projects__item {
  position: relative;
  width: auto;
  overflow: hidden;
  scroll-snap-align: center;
  grid-column: 4 span;
}
.projects__item:hover .projects__img {
  transform: scale(1.05);
  transition: transform 0.3s ease-in;
}
.projects__item:hover .projects__descr-box {
  transform: translateY(0%);
  transition: transform 0.3s ease-in;
}

.projects__img-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.projects__img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 0.3s ease-in;
}

.projects__descr-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(33, 37, 41, 0.5);
  padding: 22px 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.3s ease-in;
}

.projects__descr-icon {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../img/projects/arrow.svg);
  background-repeat: no-repeat;
}

.projects__link-box {
  position: absolute;
  inset: 0;
}

.reviews {
  padding-top: 60px;
  padding-bottom: 60px;
}

.reviews__title {
  margin-bottom: 32px;
}

.reviews__item {
  position: relative;
  grid-column: 4 span;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #000000;
  padding: 40px 40px 60px;
  transition: border-color 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.reviews__item:hover {
  border-color: #DDD7C0;
}
.reviews__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #DDD7C0;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  transition: top 0.2s ease-in, right 0.2s ease-in, bottom 0.2s ease-in, left 0.2s ease-in;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: -1;
}
.reviews__item:hover::before {
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.reviews__icon {
  width: 40px;
  height: 40px;
  margin-bottom: 32px;
}

.reviews__name {
  margin-bottom: 20px;
  font-family: "Helvetica Neue Cyr Bold", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

.reviews__quote {
  text-align: center;
}

.form {
  padding-top: 60px;
  padding-bottom: 120px;
}

.form__img {
  grid-column: 1/6;
  align-self: end;
}

.form__right {
  grid-column: 7/13;
}

.form__title {
  margin-bottom: 32px;
  color: #000;
}

.form__descr {
  margin-bottom: 72px;
  color: #000;
}

.form__inputs {
  margin-bottom: 24px;
}

.form__input-wrapper {
  display: block;
  position: relative;
  max-width: 562px;
}
.form__input-wrapper:not(:last-child) {
  margin-bottom: 16px;
}

.form__input {
  width: 100%;
  transition: all 0.2s ease-in;
}
.form__input:focus {
  padding-top: 12.5px;
  border-color: #DDD7C0;
}
.form__input:focus ~ .form__label {
  top: -1em;
  font-size: 12px;
}

.form__label {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Helvetica Neue Cyr Roman", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #212529;
  transition: all 0.2s ease-in;
}

.form__button {
  margin-bottom: 40px;
}

.form__download-wrapper {
  display: flex;
}

.form__download {
  position: relative;
  width: 121px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transition: transform 0.2s ease-in;
}
.form__download--app-store {
  background-image: url(../../img/app-store.png);
}
.form__download--google-play {
  background-image: url(../../img/google-play.png);
}
.form__download:not(:last-child) {
  margin-right: 8px;
}
.form__download:hover {
  transform: translateY(-6px);
}

.footer {
  padding-bottom: 16px;
}

.footer__wrapper {
  align-items: end;
}

.footer__copyright {
  grid-column: 1/4;
  font-family: "Helvetica Neue Cyr Roman", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #212529;
}

.footer__link-wrapper {
  grid-column: 4/10;
  justify-self: center;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.footer__slash {
  margin-right: 6px;
  margin-left: 6px;
}

.footer__social-list {
  grid-column: 10/13;
  justify-self: end;
  display: flex;
}

.footer__social-item:not(:last-child) {
  margin-right: 40px;
}

.footer__social-link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}
.footer__social-link::before {
  display: none;
}

.header__menu-btn {
  position: absolute;
  right: 30px;
  top: 50%;
  width: 35px;
  height: 35px;
  z-index: 9999;
  border-radius: 50%;
  transform: translateY(-50%);
  display: none;
}

.header__burger-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  display: block;
  top: 50%;
  transition: all 0.2s ease-in;
}
.header__burger-line--top {
  transform: translateY(-4px);
}
.header__burger-line--bottom {
  transform: translateY(4px);
}
.header__burger-line--top-active {
  transform: translateY(0);
  transform: rotate(45deg);
}
.header__burger-line--bottom-active {
  transform: translateY(0);
  transform: rotate(-45deg);
}

.container--menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__mobile-menu {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 64px 0;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.75) 75%, rgba(0, 212, 255, 0) 100%);
  transition: all 0.2s ease-in;
  z-index: 9999;
}

.header__mobile-nav-wrp {
  margin-bottom: 36px;
}

.header__mobile-nav-list {
  display: flex;
  gap: 36px;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.2;
  text-align: left;
}

.header__mobile-nav-link {
  font-size: 48px;
}

.header__mobile-tel {
  text-align: left;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.header__mobile-social-list {
  display: flex;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.2;
  gap: 24px;
}

.header__mobile-social-link {
  font-size: 18px;
}

.menu-closed {
  opacity: 1;
  visibility: hidden;
  transform: translatex(-100%);
}

@media only screen and (max-width: 1200px) {
  .hero__title {
    grid-column: 1/10;
  }
  .about__text-box {
    grid-column: 7/11;
  }
}
@media only screen and (max-width: 1024px) {
  .header__wrapper {
    display: flex;
    align-items: center;
  }
  .header__nav-wrp {
    display: none;
  }
  .header__tel {
    display: none;
  }
  .header__menu-btn {
    display: block;
  }
  .about__text-box {
    grid-column: 7/12;
    margin-top: 14px;
  }
  .footer__copyright {
    font-size: 14px;
  }
  .footer__link {
    font-size: 14px;
  }
  .footer__social-link {
    font-size: 14px;
  }
}
@media only screen and (max-width: 900px) {
  .hero__title {
    grid-column: 1/8;
  }
  .hero__text {
    grid-column: 1/6;
  }
  .about__text-box {
    grid-column: 7/13;
    margin-top: 14px;
  }
  .footer {
    padding-bottom: 20px;
  }
  .footer__wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0px;
  }
  .footer__copyright {
    text-align: center;
    order: 2;
    font-size: 18px;
  }
  .footer__copyright br {
    margin-bottom: 4px;
  }
  .footer__slash {
    display: none;
  }
  .footer__link-wrapper {
    order: 1;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
  }
  .footer__link {
    font-size: 18px;
  }
  .footer__link:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer__social-list {
    margin-bottom: 24px;
    order: 0;
  }
  .footer__social-link {
    font-size: 16px;
  }
}
@media only screen and (max-width: 800px) {
  .hero__title {
    grid-column: 1/9;
  }
  .how__list {
    grid-column: 12 span;
  }
  .projects__item {
    grid-column: 6 span;
  }
  .reviews__item {
    grid-column: 12 span;
  }
  .hero__btn {
    grid-column: 9/13;
  }
}
@media only screen and (max-width: 600px) {
  .hero__btn {
    font-size: 17px;
  }
}
@media only screen and (max-width: 600px) {
  .header__menu-btn {
    position: fixed;
    right: 15px;
  }
  .hero {
    padding-bottom: 24px;
  }
  .hero__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .hero__text {
    order: 1;
    margin-bottom: 24px;
  }
  .hero__btn {
    align-self: flex-start;
    margin-bottom: 24px;
    order: 2;
    font-size: 18px;
  }
  .hero__img-1 {
    min-height: 261px;
    order: 3;
  }
  .hero__img-1 img {
    height: 261px;
    width: 100%;
  }
  .hero__img-2 {
    display: none;
  }
  .hero__title {
    max-width: 343px;
    margin-bottom: 20px;
    order: 0;
  }
  .about {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .about__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .about__title--mobile {
    display: block;
  }
  .about__title--desktop {
    display: none;
  }
  .about__text-box {
    margin-top: 0;
    margin-bottom: 32px;
  }
  .about__facts-box {
    row-gap: 20px;
  }
  .how {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .how__title {
    margin-bottom: 20px;
  }
  .how__descr {
    padding-top: 0;
    margin-bottom: 28px;
  }
  .how__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .how__item {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    gap: 0px;
  }
  .how__list {
    gap: 20px;
  }
  .how__step-title {
    margin-bottom: 16px;
  }
  .projects {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .projects__title {
    margin-bottom: 20px;
  }
  .projects__list {
    display: flex;
    overflow-x: auto;
  }
  .projects__item {
    flex-shrink: 0;
    width: 70%;
    scroll-snap-align: center;
    align-items: stretch;
    scroll-padding: 1.25rem;
    scroll-snap-type: x mandatory;
  }
  .projects__descr-box {
    transform: translateY(0%);
    padding: 11px 12px;
  }
  .projects__descr-text {
    font-size: 16px;
    line-height: 1.4;
  }
  .reviews {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .reviews__icon {
    width: 32px;
    height: 32px;
  }
  .reviews__item {
    padding: 32px 32px 36px;
  }
  .form {
    padding-top: 24px;
    padding-bottom: 60px;
  }
  .form__title {
    margin-bottom: 20px;
  }
  .form__descr {
    margin-bottom: 32px;
  }
  .form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .form__inputs {
    margin-bottom: 20px;
  }
  .form__button {
    margin-bottom: 28px;
  }
  .form__img {
    display: none;
  }
  .footer {
    padding-bottom: 20px;
  }
  .footer__wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0px;
  }
  .footer__copyright {
    text-align: center;
    order: 2;
  }
  .footer__copyright br {
    margin-bottom: 4px;
  }
  .footer__slash {
    display: none;
  }
  .footer__link-wrapper {
    order: 1;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
  }
  .footer__link:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer__social-list {
    margin-bottom: 24px;
    order: 0;
  }
}/*# sourceMappingURL=main.css.map */