.about {
  padding: 60px 0 60px;
}

.about__wrapper {
  row-gap: 44px;
}

.about__title {
  grid-column: 1 / 6;

  &--mobile {
    display: none;
  }
}

.about__text-box {
  grid-column: 7 / 11;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 22px;
}

.about__main-text {}

.about__facts-box {
  grid-column: 7 / 11;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 146px;
}

.main-text {}

.about__strong {}