.footer {
  padding-bottom: 16px;
}

.footer__wrapper {
  align-items: end;
}

.footer__copyright {
  grid-column: 1/4;
  font-family: $main-regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: $text-main
}

.footer__link-wrapper {
  grid-column: 4/10;
  justify-self: center;
}

.footer__link {

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.link {}

.footer__slash {
  margin-right: 6px;
  margin-left: 6px;
}

.footer__social-list {
  grid-column: 10/13;
  justify-self: end;
  display: flex;
}

.footer__social-item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}


.footer__social-link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;



  &::before {
    display: none;
  }
}