@media only screen and (max-width : 1200px) {
  .hero__title {
    grid-column: 1/10;

  }

  .about__text-box {
    grid-column: 7/11;
  }
}

@media only screen and (max-width : 1024px) {
  .header__wrapper {
    display: flex;
    align-items: center;
  }

  .header__nav-wrp {
    display: none;
  }

  .header__tel {
    display: none;
  }

  .header__menu-btn {
    display: block;
  }

  .about__text-box {
    grid-column: 7/12;
    margin-top: 14px;
  }

  .footer__copyright {
    font-size: 14px;
  }

  .footer__link {
    font-size: 14px;
  }

  .footer__social-link {
    font-size: 14px;
  }


}

@media only screen and (max-width : 900px) {
  .hero__title {
    grid-column: 1/8;
  }

  .hero__text {
    grid-column: 1/6;
  }

  .about__text-box {
    grid-column: 7/13;
    margin-top: 14px;
  }

  //* Footer

  .footer {
    padding-bottom: 20px;
  }

  .footer__wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0px;
  }

  .footer__copyright {
    text-align: center;
    order: 2;
    font-size: 18px;

    & br {
      margin-bottom: 4px;
    }
  }

  .footer__slash {
    display: none;
  }

  .footer__link-wrapper {
    order: 1;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
  }

  .footer__link {
    font-size: 18px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .footer__social-list {
    margin-bottom: 24px;
    order: 0;
  }

  .footer__social-link {
    font-size: 18px;
  }

}


@media only screen and (max-width : 800px) {

  .hero__title {
    grid-column: 1/9;
  }


  .how__list {
    grid-column: 12 span;
  }

  .projects__item {
    grid-column: 6 span;
  }

  .reviews__item {
    grid-column: 12 span;
  }

  .hero__btn {
    grid-column: 9/13;
  }
}

@media only screen and (max-width : 600px) {
  .hero__btn {
    font-size: 17px;
  }
}

@media only screen and (max-width : 600px) {

  //? Header

  .header__menu-btn {
    position: fixed;
    right: 15px;
  }

  //? Hero
  .hero {
    padding-bottom: 24px;
  }

  .hero__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .hero__text {
    order: 1;
    margin-bottom: 24px;
  }

  .hero__btn {
    align-self: flex-start;
    margin-bottom: 24px;
    order: 2;
    font-size: 18px;
  }

  .hero__img-1 {
    min-height: 261px;

    order: 3;

    & img {
      height: 261px;
      width: 100%;
    }
  }

  .hero__img-2 {
    display: none;
  }

  .hero__title {
    max-width: 343px;
    margin-bottom: 20px;
    order: 0;
  }

  //? About

  .about {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .about__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .about__title {

    margin-bottom: 20px;

    &--mobile {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }

  .about__text-box {
    margin-top: 0;
    margin-bottom: 32px;
  }

  .about__facts-box {
    row-gap: 20px;
  }

  //? How

  .how {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .how__title {
    margin-bottom: 20px;
  }

  .how__descr {
    padding-top: 0;
    margin-bottom: 28px;
  }

  .how__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .how__item {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    gap: 0px;
  }

  .how__list {
    gap: 20px;
  }

  .how__step-title {
    margin-bottom: 16px;
  }

  //? Project

  .projects {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .projects__title {
    margin-bottom: 20px;
  }

  .projects__list {
    display: flex;
    overflow-x: auto;
  }

  .projects__item {
    flex-shrink: 0;
    width: 70%;
    scroll-snap-align: center;
    align-items: stretch;
    scroll-padding: 1.25rem;
    scroll-snap-type: x mandatory;
  }

  .projects__descr-box {
    transform: translateY(0%);
    padding: 11px 12px;
  }

  .projects__descr-text {
    font-size: 16px;
    line-height: 1.4;
  }

  //? Reviews

  .reviews {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .reviews__icon {
    width: 32px;
    height: 32px;
  }

  .reviews__item {
    padding: 32px 32px 36px;
  }

  //? Form

  .form {
    padding-top: 24px;
    padding-bottom: 60px;
  }

  .form__title {
    margin-bottom: 20px;
  }

  .form__descr {
    margin-bottom: 32px;
  }

  .form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .form__inputs {
    margin-bottom: 20px;
  }

  .form__button {
    margin-bottom: 28px;
  }

  .form__img {
    display: none;
  }

  //? Footer 

  // .footer {
  //   padding-bottom: 20px;
  // }

  // .footer__wrapper {
  //   align-items: center;
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex-direction: column;
  //   gap: 0px;
  // }

  // .footer__copyright {
  //   text-align: center;

  //   order: 2;

  //   & br {
  //     margin-bottom: 4px;
  //   }
  // }

  // .footer__slash {
  //   display: none;
  // }

  // .footer__link-wrapper {
  //   order: 1;
  // }

  // .footer__links {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   margin-bottom: 28px;
  // }

  // .footer__link {
  //   &:not(:last-child) {
  //     margin-bottom: 8px;
  //   }
  // }

  // .footer__social-list {
  //   margin-bottom: 24px;
  //   order: 0;
  // }


}