//* Fonts
$main-regular: 'Helvetica Neue Cyr Roman', sans-serif;
$main-medium: 'Helvetica Neue Cyr Medium', sans-serif;
$main-bold: 'Helvetica Neue Cyr Bold', sans-serif;

//* Colors
$text-main: #212529;
$base-black: #101828;
$bg-color: #FFFFFF;
$accent: #DDD7C0;
$accent-active: #CBC6B2;
$form-error: #E13A3A;
$form-focus: #DDD7C0;
$form-success: #F9C67B;
$form_focus: #DDD7C0;
$btn-default: #212529;
$btn-hover: #DDD7C0;
$btn-active: #CBC6B2;
$btn-disabled: rgba(33, 37, 41, 0.5);
$btn-disabled-text: rgba(255, 255, 255, 0.5);